body {
  font-family: Arial;
  background: #0b1d2e;
  color: #fff;
  padding: 20px;
}
.container {
  max-width: 800px;
  margin: auto;
}
input, button {
  padding: 10px;
  margin: 10px 0;
}
button {
  cursor: pointer;
  background: #00bcd4;
  border: none;
  color: #fff;
}
pre {
  background: #1c557e;
  padding: 10px;
  border-radius: 8px;
}